<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="/static/css/research-theme.css">
    <link rel="stylesheet" href="/static/css/picks-nav-overrides.css">
    <link rel="stylesheet" href="/static/css/sports-chrome.css">
    {% if sport == 'cfl' %}
    <link rel="stylesheet" href="/static/css/mlb-pick-cards.css">
    <link rel="stylesheet" href="/static/css/cfl-pick-cards.css">
    <link rel="stylesheet" href="/static/css/picks-chart.css?v=pc15">
    {% endif %}
    {% if sport == 'golf' %}
    <link rel="stylesheet" href="/static/css/golf-board.css">
    {% endif %}
</head>
<body class="research-site" data-theme="light" data-sandbox-sport="{{ sport }}">
{% include 'includes/picks_nav_chrome.html' %}
<div class="container">
{{ body_html|safe }}
</div>
<script src="/static/js/pl-header-logo.js" defer></script>
</body>
</html>
