<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.predictionlab.sitechecker</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/nimamesghali/Sports Sandbox/Sports Sandbox/qa/run_checker.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>20</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/nimamesghali/Sports Sandbox/Sports Sandbox/qa/checker_cron.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/nimamesghali/Sports Sandbox/Sports Sandbox/qa/checker_cron.log</string>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
